@import "tailwindcss";

@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      width: 0.5rem; /* w-2 */
    }

    &::-webkit-scrollbar-track {
      background-color: theme("colors.gray.500");
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme("colors.gray.600");
    }

    .dark &::-webkit-scrollbar-track {
      background-color: theme("colors.neutral.700");
    }

    .dark &::-webkit-scrollbar-thumb {
      background-color: theme("colors.neutral.500");
    }
  }
}
